<div class="container">
  <section class="search_container">
    <div class="form-group">
      <input type="search" class="form-control" id="search" />
    </div>
    <button type="submit" class="formbtn" (click)="onSearch()">Search</button>
  </section>
  <section class="results">
    <h1>Trending Information</h1>
    <div class="results_container">
      <div *ngFor="let result of searchResults" class="result">
        <div> <a class="name" [routerLink]="['../',result.type, result.id]"
            routerLinkActive="active">{{result.name}}</a>
        </div>
        <div class="state" [ngClass]="result.color">{{result.state}}</div>
        <div class="type">{{result.type}}</div>
      </div>
    </div>
  </section>
</div>
