<div class="container">
  <section class="search_container">
    <div class="form-group">
      <label for="search">Research</label>
      <input type="search" class="form-control" id="search" />
    </div>
    <button type="submit">Search</button>
  </section>
  <section class="results">
    <h1>Trending Information</h1>
    <div class="results_container">
      <div class="result">
        <div class="name"></div>
        <div class="refrence"></div>
        <div class="state"></div>
        <div class="type"></div>
      </div>
    </div>
  </section>
</div>
