<div class="container">
  <section class="search_container">
    <div class="form-group">
      <input type="search" class="form-control" id="search" />
    </div>
    <button type="submit" class="formbtn">Search</button>
  </section>
  <section class="results">
    <h1>Trending Information</h1>
    <div class="results_container">
      <div class="result result_grey">
        <div class="name">Ecallantide injection</div>
        <div class="state code_green">Available</div>
        <div class="type">Medicament</div>
      </div>
      <div class="result ">
        <div class="name">Ubrelvy</div>
        <div class="state code_yellow">Unstable Stock</div>
        <div class="type">Medicament</div>
      </div>
      <div class="result result_grey">
        <div class="name">Nom Protocole</div>
        <div class="state"></div>
        <div class="type">Protocole</div>
      </div>
      <div class="result">
        <div class="name">Doliprane</div>
        <div class="state code_red">Unavailable</div>
        <div class="type">Medicament</div>
      </div>
      <div class="result result_grey">
        <div class="name">Ubrelvy</div>
        <div class="state code_yellow">Unstable Stock</div>
        <div class="type">Medicament</div>
      </div>
    </div>
  </section>
</div>
