
<div class="prot">
    <h1>Protocles  d'aprés l' INEAS</h1>
    <div class="results_container">
        <div class="result result_grey" style="font-weight: bold;">
          <div class="name">Nom</div>
          <div class="state code_green">Réference</div>
          <div class="type">Fichier</div>
        </div>
        <div class="result">
            <div class="name">Protocole 1</div>
            <div class="state code_green">x0551FA</div>
            <div class="type"><button class="pdf">Download PDF</button></div>
          </div>
          <div class="result result_grey">
            <div class="name">Protocole 2</div>
            <div class="state code_green">x0551FA</div>
            <div class="type"><button class="pdf">Download PDF</button></div>
          </div>
          <div class="result">
            <div class="name">Protocole 3</div>
            <div class="state code_green">x0551FA</div>
            <div class="type"><button class="pdf">Download PDF</button></div>
          </div>
          <div class="result result_grey">
            <div class="name">Protocole 2</div>
            <div class="state code_green">x0551FA</div>
            <div class="type"><button class="pdf">Download PDF</button></div>
          </div>    
      </div>
</div>