<div class="dci">

    <h2>DCI Paracetamol > <span class="variant_title">Doliprane </span><span class="variant_status code_yellow">Shortage</span></h2>

    <div class="container">
        <!-- list variants -->
        <button class="variant variant_grey">Adol</button>
        <button class="variant">Adoline</button>
        <button class="variant variant_grey">Analgon</button>
        <button class="variant selected">Doliprane</button>
    </div>

    <div class="stats nationale">
        <div class="square dispo">
            <div class="pourcent">18%</div>
            <div class="state code_green">Disponilblité Nationale</div>
        </div>
        <div class="square indispo">
            <div class="pourcent">82%</div>
            <div class="state code_red">Indisponilblité Nationale</div>
        </div>
    </div>

    <div class="stats">
        <div class="square dispo">
            <div class="pourcent">33%</div>
            <div class="state code_green">Disponilblité Regionale</div>
        </div>
        <div class="square indispo">
            <div class="pourcent">67%</div>
            <div class="state code_red">Indisponilblité Regionale</div>
        </div>
        <div class="square sugg">
            <div>Pharmacie de Nuit</div>
            <div>Pharmacie Hackup</div>
            <div>Pharmacie Spot</div>
        </div>
    </div>
    <button class="mybtn">Region ></button>
</div>