<div class="dci">

    <h2>< Nom Dci ></h2>

    <div class="container">
        <!-- list variants -->
        <button class="variant variant_grey">Variant1</button>
        <button class="variant">Variant1</button>
        <button class="variant variant_grey">Variant1</button>
        <button class="variant selected">Selected</button>
    </div>

    <div class="stats">
        <div class="square dispo">
            <div class="pourcent">65%</div>
            <div class="state code_green">Disponilble</div>
        </div>
        <div class="square indispo">
            <div class="pourcent">35%</div>
            <div class="state code_red">Indisponilble</div>
        </div>
        <div class="square sugg">
            <div>pharm1</div>
            <div>pharm1</div>
            <div>pharm1</div>
        </div>
    </div>
    <button class="mybtn">Region ></button>
</div>