<h2>> Nom Dci</h2>
<div class="container">
    <!-- list variants -->
    <button class="variant">Variant1</button>
    <button class="variant">Variant1</button>
    <button class="variant">Variant1</button>
    <button class="variant">Variant1</button>
</div>

<div class="stats">
    <div class="dispo"></div>
    <div class="indispo"></div>
    <div class="sugg">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<div class="settings">
    <select>
        <option>Data From > </option>
        <!-- time -->
    </select>
    <button>Réclamation</button>
</div>