
<div class="prot">
    <h1>Nom Pharmacie</h1>
    <button class="mybtn">Import .csv</button>
    <div class="results_container">
        <div class="result result_grey" style="font-weight: bold;">
          <div class="name">Nom Médicamment</div>
          <div class="state">Statu</div>
          <div class="type">Rapport</div>
        </div>
        <div class="result">
            <div class="name">Insulin</div>
            <div class="state code_red">Indisponible</div>
            <div class="type"><a>Editer</a> <a> Supprimer</a> </div>
        </div>
        <div class="result result_grey">
            <div class="name">Adol</div>
            <div class="state code_green">Disponible</div>
            <div class="type"><a>Editer</a> <a> Supprimer</a> </div>
        </div>
        <div class="result">
            <div class="name">Adol</div>
            <div class="state code_green">Disponible</div>
            <div class="type"><a>Editer</a> <a> Supprimer</a> </div>
        </div>
        <div class="result result_grey">
            <div class="name">Anferalgon</div>
            <div class="state code_green">Disponible</div>
            <div class="type"><a>Editer</a> <a> Supprimer</a> </div>
        </div>
        <div class="result">
            <div class="name">Valtrex</div>
            <div class="state code_green">Disponible</div>
            <div class="type"><a>Editer</a> <a> Supprimer</a> </div>
        </div>
    </div>  
</div>